node_modules
.vscode
actions
coverage
dist
.editorconfig
.env
.eslint
.git
.github
.gitignore
.nuxt
.yarnrc
coverage
docker-compose*
.prettier
README
uploads/tmp
Procfile
tsconfig.tsbuildinfo
yarn-error.log
